{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="InvestFX Website by Scacsy Inc">
    <meta name="author" content="Gerald Ephraim, Scacsy Inc, email: scacsyco@gmail.com">
    <meta name="generator" content="Scacsy-Designs v1.0">
    <title>{{title}}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/d9df31cc58.js" crossorigin="anonymous"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'app/frontend/css/pricing.css' %}" rel="stylesheet">
    <link href="{% static 'app/frontend/css/mentorship.css' %}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'app/frontend/images/favicon.ico'%}">
  </head>
  <body id="body" class="" style="">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
            <title>Check</title>
            <path  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </symbol>
    </svg>
    {% block body %}

    {% endblock body %}

  </body>
  <div style="background-color:#9F823E; color: white; padding-top: 20px; padding-bottom: 20px;">
    <p class="pt-0 my-0 text-center">
      Designed by <a href="https://scacsy.com" style="text-decoration: none; color: white;">Scacsy Inc</a> · &copy; {% now "Y" %}
    </p>
  </div>
  <script src="{% static 'app/frontend/js/jquery.js' %}"></script>
  <script src="{% static 'app/frontend/js/bootstrap.js' %}"></script>
  <script src="{% static 'app/frontend/js/bootstrap.bundle.min.js' %}"></script>

</html>
