{% load static %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <!--<div class="row">
      <div class="col-12 col-md" style="text-align: center;">
        <img src="{% static 'app/frontend/images/logo.png'%}" alt="alternative" height="40px" width="40px">
        <img class="mb-2" src="{% static 'app/frontend/images/logo.png'%}" alt="" width="50" height="50">
        <a href="#body" style="text-decoration: none; color: black;"><h4 class="d-block mb-3"><span style="color: black;">INVEST</span><span style="color: #9F823E;">FX</span></h4></a>
        <small class="d-block mb-3 color: black;">&copy; 2017–{% now "Y" %}</small>
        
      </div>
    </div>
    <hr>-->
    <div class="row">
      
      <div class="col-md-6" style="text-align: center;">
        <!--<p class="" style="color: black;">Get in-touch with a pro now!</p>-->
        <img class="mb-2" src="{% static 'app/frontend/images/logo.png'%}" alt="" width="50" height="50">
        <a href="#body" style="text-decoration: none; color: black;"><h4 class="d-block mb-3"><span style="color: black;">INVEST</span><span style="color: #9F823E;">FX</span></h4></a>
        <small class="d-block mb-3 color: black;">&copy; 2017–{% now "Y" %}</small>
        
        
      </div>
      <div class="col-md-6" style="text-align: center;">
        <div class="footer-col last" style="font-size: 1.5em; padding-top: 10px" >
            <span class="fa-stack">
                <a href="tel:+255716058590" style="text-decoration: none; color: #9F823E;">
                    <i class="bi bi-telephone-outbound"></i>
                </a>
            </span>
            |
            <span class="fa-stack">
                <a href="https://wa.me/255716058590" style="text-decoration: none; color: #9F823E;">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </span>
            |
            <span class="fa-stack">
                <a href="https://t.me/innocentimac" style="text-decoration: none; color: #9F823E;">
                    <i class="bi bi-telegram"></i>
                </a>
            </span>
            |
            <span class="fa-stack">
                <a href="https://www.instagram.com/investfxc" style="text-decoration: none; color: #9F823E;">
                    <i class="bi bi-instagram"></i>
                </a>
            </span>
            |
            <span class="fa-stack">
                <a href="https://youtube.com/channel/UC6aFBIR0pQu8GA7x8W8EF3A" style="text-decoration: none; color: #9F823E;">
                    <i class="bi bi-youtube"></i>
                </a>
            </span>
        </div>

        <div class="footer-col last" style="padding-top: 20px; padding-bottom: 20px;">
            <span>
                <a href="#" style="text-decoration: none; color: #9F823E;">
                    Team
                </a>
            </span>
            |
            <span>
                <a href="#" style="text-decoration: none; color: #9F823E;">
                    Privacy Policy
                </a>
            </span>
            |
            <span>
                <a href="#" style="text-decoration: none; color: #9F823E;">
                    Terms &amp; Conditons
                </a>
            </span>
        </div>
      </div>
    </div>
    <div class="row">
        <p style="font-size: 0.7em;" class="text-center"><b>Trading disclaimer:</b></p>
        <small style="font-size: 0.7em;">Trading involves the possibility of financial loss. Only trade with money that you are prepared to lose, you must recognise that for factors outside your control you may lose all of the money in your trading account. Many forex brokers also hold you liable for losses that exceed your trading capital. So you may stand to lose more money than is in your account. InvestFX Consultants takes no responsibility for loss incurred as a result of our trading setups. By signing up as a member you acknowledge that we are not providing financial advice and that you are making a the decision to copy our trades on your own account. We have no knowledge on the level of money you are trading with or the level of risk you are taking with each trade. You must make your own financial decisions, we take no responsibility for money made or lost as a result of our signals or advice on forex related products on this website.</small>
    </div>
</footer>
