{% load static %}
<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4" style="">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <!-- Image Logo -->
        <img src="{% static 'app/frontend/images/logo.png'%}" alt="alternative" height="40px" width="40px">
        <span class="fs-2"><span style="color: black;"><b>INVEST</b></span><span style="color: #9F823E;"><b>FX</b></span></span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <ul>
            <a class="me-3 py-2 text-decoration-underline" href="#membership-plans" style="color: black;">Membership</a>
            <!--<a class="me-3 py-2 text-decoration-underline" href="#mentorship-plans" style="color: black;">Mentorship</a>-->
            <a class="me-3 py-2 text-decoration-underline" href="{% url 'ta_home'%}" style="color: black;">Technical Arena</a>

            <a href="https://t.me/innocentimac" style="text-decoration: none; color: black;">
                <i class="bi bi-telegram"></i>
            </a>
            |
            <a href="https://www.instagram.com/investfxc" style="text-decoration: none; color: black;">
                <i class="bi bi-instagram"></i>
            </a>
          
        </ul>
    
    </nav>
</header>