{% extends "app/frontend/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <div class="styled-header">
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            {% include "app/frontend/base_navbar.html" %}
    
            <!-- Preloader
                <div class="text-center">
                    <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow" role="status" style="color: #9F823E;">
                        <span class="sr-only"></span>
                    </div>
                </div>
            end of preloader -->
    
            <div class="row" style="padding-top: 50px;">
                <div class="col-md-6">
                    <h1>Save your time <br>and trade with ease!</h1>
                    <p class="fs-5 col-md-8">It’s never too soon to start thinking about your financial future.
                        Here at Invest FX we work with students all across the world, providing 
                        excellent first-class educational content which will enhance your
                        trading technique and technical skills needed to gain the profits that
                        one dreams of.</p>
                    <h1 class="display-4 fw-normal"></h1>
                    <p class="fs-5 text-muted"></p>
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>
            </div> 
        
            <div class="mb-5">
                <a href="#membership-plans" class="btn btn-lg px-4" style="background-color: #9F823E; color: white;">Join the wave</a>
                <br>
                
            </div>
            <div style="padding-bottom: 250px;">
                <hr class="col-3 col-md-2 mb-5" style="color: #9F823E;">
            </div>
            
            
    
        </div>
    </div>
    
    <div style="background-color:#ffff;">
        <div class="col-lg-8 mx-auto p-3 py-md-5" style="">
            <!--Memebership Start-->
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center" id="membership-plans">
                <h4 class="display-5 fw-normal" style="color: #9F823E;">Membership</h4>
                <p class="fs-5">See our plans for you to choose from or see our <a href="#compare-membership" style="text-decoration: none; color: #9F823E;">comparison</a></p>
                <figcaption class="blockquote-footer">
                    Offer valid from 24 until 27 November
                </figcaption>
            </div>

            <main>
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Free</h4>
                            </div>
                            <div class="card-body">
                                <!--<h1 class="card-title pricing-card-title"><span style="font-size: 0.5em">was</span></h1>
                                <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></h1>
                                <h1 class="card-title pricing-card-title" style="color: #9F823E;"><span style="font-size: 0.5em">100% OFF! <br> still</span></h1>-->
                                <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Free telegram channel</li>
                                    <li>Weekly market breakdown</li>
                                    <li>Weekly calendar</li>
                                    <li>Free setups</li>
                                    <li>Technical arena</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                </ul>
                                <button type="button" class="w-100 btn btn-lg btn-outline-dark" onclick="alert('Acccess to technical arena coming soon.')">Get started</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3" style="">
                            <h4 class="my-0 fw-normal">Pro</h4>
                            </div>
                            <div class="card-body">
                                <!--<h1 class="card-title pricing-card-title"><span style="font-size: 0.5em">was</span></h1>
                                <h1 class="card-title pricing-card-title text-danger"><del>$449<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></del></h1>
                                <h1 class="card-title pricing-card-title" style="color: #9F823E;"><span style="font-size: 0.5em">0% OFF! <br>still</span></h1>-->
                                <h1 class="card-title pricing-card-title strikethrough">$449<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Private telegram group chat</li>
                                    <li>Daily market breakdown</li>
                                    <li>Introduction to fundamentals</li>
                                    <li>Premium set-up &amp; signals</li>
                                    <li>Weekly calendar</li>
                                    <li>Sniper calls</li>
                                    <li>Online course</li>
                                    <li>Telegram support</li>
                                </ul>
                                <button type="button" class="w-100 btn btn-lg btn-outline-dark"><a href="https://wa.me/255716058590">Get started</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3" style="">
                            <h4 class="my-0 fw-normal">Enterprise</h4>
                            </div>
                            <div class="card-body">
                            <!--<h1 class="card-title pricing-card-title"><span style="font-size: 0.5em">was</span></h1>
                            <h1 class="card-title pricing-card-title text-danger"><del>$499<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></del></h1>
                            <h1 class="card-title pricing-card-title" style="color: #9F823E;"><span style="font-size: 0.5em">40% OFF! <br>now</span></h1>-->
                            <h1 class="card-title pricing-card-title">$499<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Private telegram group chat</li>
                                <li>Daily market breakdown</li>
                                <li>Introduction to fundamentals</li>
                                <li>Premium set-up &amp; signals</li>
                                <li>Weekly calendar</li>
                                <li>Sniper calls</li>
                                <li>One on One session</li>
                                <li>24HRS Telegram Support</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-dark"><a href="https://wa.me/255716058590">Get started</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                

                <!--<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm"  >
                            <div class="card-header py-3" >
                            <h4 class="my-0 fw-normal">Free</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title"><span style="font-size: 0.5em">was</span></h1>
                                <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></h1>
                                <h1 class="card-title pricing-card-title" style="color: #9F823E;"><span style="font-size: 0.5em">100% OFF! <br> still</span></h1>
                                <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Free telegram channel</li>
                                    <li>Weekly market breakdown</li>
                                    <li>Weekly calendar</li>
                                    <li>Free setups</li>
                                    <li>Technical arena</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                </ul>
                                <button type="button" class="w-100 btn btn-lg btn-outline-dark" onclick="alert('Acccess to technical arena coming soon.')">Get started</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3" style="">
                            <h4 class="my-0 fw-normal">Pro</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title"><span style="font-size: 0.5em">was</span></h1>
                                <h1 class="card-title pricing-card-title text-danger"><del>$449<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></del></h1>
                                <h1 class="card-title pricing-card-title" style="color: #9F823E;"><span style="font-size: 0.5em">30% OFF! <br>now</span></h1>
                                <h1 class="card-title pricing-card-title strikethrough text-success">$314<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Private telegram group chat</li>
                                    <li>Daily market breakdown</li>
                                    <li>Introduction to fundamentals</li>
                                    <li>Premium set-up &amp; signals</li>
                                    <li>Weekly calendar</li>
                                    <li>Sniper calls</li>
                                    <li>Online course</li>
                                    <li>Telegram support</li>
                                </ul>
                                <button type="button" class="w-100 btn btn-lg btn-outline-dark"><a href="https://wa.me/255716058590">Get started</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3" style="">
                            <h4 class="my-0 fw-normal">Enterprise</h4>
                            </div>
                            <div class="card-body">
                            <h1 class="card-title pricing-card-title"><span style="font-size: 0.5em">was</span></h1>
                            <h1 class="card-title pricing-card-title text-danger"><del>$499<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></del></h1>
                            <h1 class="card-title pricing-card-title" style="color: #9F823E;"><span style="font-size: 0.5em">30% OFF! <br>now</span></h1>
                            <h1 class="card-title pricing-card-title text-success">$349<small class="text-muted fw-light">/<span style="font-size: 0.5em">lifetime</span></small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Private telegram group chat</li>
                                <li>Daily market breakdown</li>
                                <li>Introduction to fundamentals</li>
                                <li>Premium set-up &amp; signals</li>
                                <li>Weekly calendar</li>
                                <li>Sniper calls</li>
                                <li>One on One session</li>
                                <li>24HRS Telegram Support</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-dark"><a href="https://wa.me/255716058590">Get started</a></button>
                            </div>
                        </div>
                    </div>
                </div>-->
            
                <h4 class="display-6 fw-normal text-center mb-4" id="compare-membership" style="color: #9F823E;">Compare Membership Plans</h4>
                <p class="fs-5 text-center">Compare and pick what's best for you or see our <a href="#hanging-icons" style="text-decoration: none; color: #9F823E;">mentorship</a> syllabus</p>

                
                
                <div class="table-responsive">
                    <table class="table text-center">
                    <thead>
                        <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Free</th>
                        <th style="width: 22%;">Pro</th>
                        <th style="width: 22%;">Enterprise</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Private telegram group chat</th>
                            <td>&nbsp;</td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Daily market breakdown</th>
                            <td>&nbsp;</td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Introduction to fundamentals</th>
                            <td>&nbsp;</td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Premium set-ups</th>
                            <td>&nbsp;</svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Premium signals</th>
                            <td>&nbsp;</td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Weekly calendar</th>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Sniper calls</th>
                            <td>&nbsp;</svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Online course</th>
                            <td>&nbsp;</td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">One on one session</th>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">24HRS telegram support</th>
                            <td>&nbsp;</td>
                            <td>&nbsp;</svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Free telegram channel</th>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td>&nbsp;</svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Weekly market breakdown</th>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td>&nbsp;</td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Free setups</th>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td>&nbsp;</td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start" style="color: #9F823E;">Technical arena</th>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </main>
            <!--Memebership End-->
        </div>
    </div>

    <div style="" class="footer-styled-trading-desk" >
        <div class="col-lg-8 mx-auto p-3 py-md-3" id="hanging-icons">
            <h2 class="pb-2 " style="color: #9F823E; text-align: center">Mentorship</h2>
            <p class="h6" style="text-align: center;">Track your results based on your efforts</p>
            <hr/>
            <div class="row g-5 py-5">
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <span>
                            <i class="fas fa-chart-line"></i>
                        </span>
                    </div>
                    <div>
                        <h2 style="color: #9F823E;">Price action</h2>
                        <p>Understand the Language of the market through the candlestick pattern that price action has produced. No Price Action!, No Trading!</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <span>
                            <i class="fas fa-layer-group"></i>
                        </span>
                    </div>
                    <div>
                        <h2 style="color: #9F823E;">Fib retracement</h2>
                        <p>Get to know market movement with important turning points, providing great psychology on entry and take profit.</p>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <span>
                            <i class="fas fa-poll"></i>
                        </span>
                    </div>
                    <div>
                        <h2 style="color: #9F823E;">Trendline</h2>
                        <p>Get the Knowledge on the market trends, pattern and the psychology on them as they provide an extra confluence.</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row g-5 py-2">
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <span>
                            <i class="fas fa-grip-lines"></i>
                        </span>
                    </div>
                    <div>
                        <h2 style="color: #9F823E;">Key levels</h2>
                        <p>Trade with a market maker psychology. Using the price key levels obtained and used by experienced & Consistent Traders.</p>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <span>
                            <i class="fas fa-chart-area"></i>
                        </span>
                    </div>
                    <div>
                        <h2 style="color: #9F823E;">Supply &amp; Demand</h2>
                        <p>Understanding the Liquidity region, which provides us with buyers and sellers sentimental with a trade.</p>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <span>
                            <i class="fas fa-wave-square"></i>
                        </span>
                    </div>
                    <div>
                        <h2 style="color: #9F823E;">EMA's</h2>
                        <p>Exponential moving average, Indicators are just dynamic lines of true and false market movement just applies when everything is obeyed.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 mx-auto p-3 py-md-5">
            <div class="row" style="">
                <div class="col-md-6" style="height: auto; ">
                    <h2 class="pb-2 " style="color: #9F823E; text-align: center">Testimonials</h2>
                    <p class="h6" style="text-align: center;">Clients have alot to say, here are a few</p>
                    <hr/>
                    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel" style=" padding-top: 10px; padding-bottom: 10px; padding-right: 10px;padding-left: 10px;">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row g-0">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                    <figure class="text-center">
                                        <blockquote class="blockquote">
                                            <p>Oh what a journey Forex has been before discovering InvestFX, Ever since i joined i've seen a consistent growth in my trading skills and account too! this is where you can learn and build your networth consistently just with the proper risk management rules InvestFX will take you Far!!</p> 
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            Gracious Mgoba <cite title="Source Title">InvestFX Customer</cite>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row g-0">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                    <figure class="text-center">
                                        <blockquote class="blockquote">
                                            <p>The only way to describe this community is excellence! Choosing InvestFx has been a life changing decision for me! No one has come close to providing the value you continue to provide every single day for us!</p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            Daniel Meiller <cite title="Source Title">InvestFX Customer</cite>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row g-0">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                    <figure class="text-center">
                                        <blockquote class="blockquote">
                                            <p>This service is excellent, I'm Learning everyday and taking on board all the amazing content being provided, I like how consistent the trades are and i can see myself grow within this community. </p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            Selemani Ngeni <cite title="Source Title">InvestFX Customer</cite>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row g-0">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                    <figure class="text-center">
                                        <blockquote class="blockquote">
                                            <p>This Mentorship Course is a game changer, your teaching people how to truly trade. The strategies are absolute fire &amp; genius, I'm just grateful for all the hardwork being put in and the accuracy too, Keep it up! </p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            Fortune <cite title="Source Title">InvestFX Customer</cite>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                        </div>      
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="pb-2 " style="color: #9F823E; text-align: center;">Our analysis vlog</h2>
                    <p class="h6" style="text-align: center;">Some priceless information we're letting you in with our <a href="https://youtube.com/channel/UC6aFBIR0pQu8GA7x8W8EF3A">analysis vlog</a></p>
                    <hr/>
                    <div class="ratio ratio-16x9" >
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/WHJvL2sbmn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            <div class="row" style="background-color: #ffff;">
            <div class="col-md-12">
                <h2 class="pb-2 " style="color: #9F823E;">We're base here</h2>
                <p class="h6">Come pay us a visit when you can</p>
                <hr/>
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.562351334731!2d39.21368561477158!3d-6.700997095155321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c51a2153bc4af%3A0xa981de68fcfe7f30!2sMbezi%20Beach%20B%2C%20Dar%20es%20Salaam!5e0!3m2!1sen!2stz!4v1621082951830!5m2!1sen!2stz" allowfullscreen style="padding-bottom:5px;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-lg-8 mx-auto p-3 py-md-5 " style="">
            <div class="row g-5">
                <!--<div class="col-md-6">
                    <h2>Prop-Trading</h2>
                    <p>Currently not available.</p>
                    <ul class="icon-list">
                        <li>Apply to the program</li>
                        <small>Fill in an application form on our website and we'll let you know if we think you'll be a good fit for our program</small>
                        <li class="text-muted">Interview</li>
                        <small>If your application is successful, you will be asked to interview at our Glasgow office</small>
                        <li>Develop and Grow</li>
                        <small>If you're selected, you will be welcomed onto our trading floor in a full-time role where you will be given guidance and support as you build a track record of results</small>
                        <li class="text-muted">Trade our Capital</li>
                        <small>Once you have shown consistency, we will begin backing you with our capital on a generous profit split</small>
                    </ul>
                </div>-->
        
                <!--<div class="col-md-6" style="" id="contact-us">
                    <h2>Contact us</h2>
                    <p class="" style="color: black;">Get in-touch with a pro now!</p>
                    <div class="footer-col last">
                        <span class="fa-stack">
                            <a href="tel:+255716058590" style="text-decoration: none; color: #9F823E;">
                                <i class="bi bi-telephone-outbound"></i> Call
                            </a>
                        </span>
                        |
                        <span class="fa-stack">
                            <a href="https://wa.me/255716058590" style="text-decoration: none; color: #9F823E;">
                                <i class="bi bi-whatsapp"></i> Let's Chat
                            </a>
                        </span>
                        |
                        <span class="fa-stack">
                            <a href="https://t.me/innocentimac" style="text-decoration: none; color: #9F823E;">
                                <i class="bi bi-telegram"></i> Let's Chat
                            </a>
                        </span>
                        |
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/investfxc" style="text-decoration: none; color: #9F823E;">
                                <i class="bi bi-instagram"></i> Follow us
                            </a>
                        </span>
                    </div> 
                </div>-->
                <br>
            </div>
        
            {% include "app/frontend/base_footer.html" %}
        </div>
    </div>
{% endblock body%}