{% load static %}

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <a class="link-secondary" href="#" style="color: #9F823E;">Welcome {% if user.is_authenticated%}{{request.user.first_name|title}} {% else %} Guest,{% endif %} Today is {% now "l d F Y" %}</a>
        </div>
        <div class="col-4 text-center">
            <!-- Image Logo -->
            <a href="{% url 'index' %}"><img src="{% static 'app/frontend/images/logo.png'%}" alt="alternative" height="40px" width="40px"></a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <!--<a class="link-secondary" href="#" aria-label="Search" style="color: #9F823E;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
            </a>-->
            {% if user.is_authenticated%}
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'customer-dashboard'%}" style="color: #9F823E;">Dashboard</a> 
            {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'ta_login' %}" style="color: #9F823E;">Log In</a>
            {% endif %}
            
        </div>
        </div>
    </header>

    <!-- Currency pairs -->
    <div class="nav-scroller py-1 mb-2" >
        <nav class="nav d-flex justify-content-between"> 
        <a class="p-2 link-secondary" href="{% url 'ta_login'%}" style="color: #9F823E; border-width:10px; border-radius:20px; border-color: black;">Todays Technicals</a>
        <a class="p-2 link-secondary" href="{% url 'ta_login'%}" style="color: #9F823E;">Crypocurrency</a>
        <a class="p-2 link-secondary" href="https://www.youtube.com/channel/UC6aFBIR0pQu8GA7x8W8EF3A" style="color: #9F823E; ">Vlog</a>
        

        <!--<a class="p-2 link-secondary" href="#" style="color: #9F823E;">Commodities</a>
        <a class="p-2 link-secondary" href="#" style="color: #9F823E;">Indicies</a>
        <a class="p-2 link-secondary" href="#" style="color: #9F823E;">Stocks</a>-->

        <a class="p-2 link-secondary" href="#" style="color: #9F823E;"> | </a>

        <a class="p-2 link-secondary" href="{% url 'ta_login'%}" style="color: #9F823E;">Market News</a>
        <a class="p-2 link-secondary" href="{% url 'ta_login'%}" style="color: #9F823E;">Technical Articles</a>

        <a class="p-2 link-secondary" href="https://t.me/innocentimac" style="color: #9F823E;">Support</a>

        <!--<a class="p-2 link-secondary" href="#" style="color: #9F823E;">Prop Trading</a>
        <a class="p-2 link-secondary" href="#" style="color: #9F823E;">Invest</a>
        <a class="p-2 link-secondary" href="#" style="color: #9F823E;">Calendar</a>-->

        </nav>
    </div>
    <!-- End Currency pairs -->

    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <!--<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Ticker Tape</span></a> by TradingView</div>-->
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
                "symbols": [
                {
                    "description": "GBP/USD",
                    "proName": "FX:GBPUSD"
                },
                {
                    "description": "USD/JPY",
                    "proName": "FX:USDJPY"
                },
                {
                    "description": "EUR/GBP",
                    "proName": "FX:EURGBP"
                },
                {
                    "description": "USD/CHF",
                    "proName": "FX:USDCHF"
                },
                {
                    "description": "EUR/USD",
                    "proName": "FX:EURUSD"
                }
                ],
                "showSymbolLogo": true,
                "colorTheme": "light",
                "isTransparent": true,
                "displayMode": "adaptive",
                "locale": "en"
            }
        </script>
    </div>
</div>


  

