{% load static %}

<footer class="blog-footer">
    <p>Technical Arena built for <a href="http://investfxc.com/" style="text-decoration: none;">Invest FX</a> by <a href="https://scascy.com" style="text-decoration: none;">Scacsy Inc</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>