{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="InvestFX wesbsite developed by Scacsy Inc">
    <meta name="author" content="Scacsy Inc">
    <meta name="generator" content="InvestFX 1.0.0">
    <title>{{title}}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/backend/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'app/backend/css/technical_arena/blog.css' %}" rel="stylesheet">
  </head>
  <body>
    {% block body%}
    {% endblock body %}

    <script src="{% static 'app/backend/js/jquery.js'%}"></script>
    <script src="{% static 'app/backend/js/bootstrap.js'%}"></script>
    <script src="{% static 'app/backend/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'app/backend/js/investfx.js'%}"></script>
    
  </body>
</html>
