{% extends 'app/backend/technical_arena/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

    <style>
        img {
            max-width: 100%;
            height: auto !important;
        }
    </style>

    {% include "app/backend/technical_arena/base_header.html" %}

    <main class="container">
        <div class="p-4 p-md-5 mb-4 ta-header text-white rounded">
            <div class="col-md-6 px-0">
            <h1 class="display-4 fst-regular" style="color: #9F823E;">Accurate analysis + Proper Execution = Success</h1>
            <p class="lead my-3" style="color: #9F823E;">Welcome to InvestFX Technical Arena. Here you'll find accurate analysis to help you better understand the market movements. <br/> Time is money, invest wisely.</p>
            <p class="lead mb-0" style="">Not registered yet? <a href="{% url 'ta_register'%}" class="text-white fw-bold">Register</a></p>
            </div>
        </div>

        <div class="row mb-2">
            <h3 class="pb-4 mb-4 fst-italic border-bottom" style="text-align: center; color: #9F823E;">
                Most Viewed Analysis
            </h3>
            {% if most_viewed_analysis %}
                {% for a in most_viewed_analysis %}
                    <div class="col-md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-danger">{{a.trade_bias}} {{a.currency_pair_id.symbol}} {{a.time_frame}}</strong>
                                <h3 class="mb-0" style="color: #9F823E;">{{a.title}}</h3>
                                <div class="mb-1 text-muted">posted on {{a.posted_on|date:"d M Y h:i a"}} by {{a.posted_by}}</div>
                                <p class="card-text mb-auto">{{a.description|truncatechars:220|safe}}</p>
                                <a href="{% url 'analysis-details' a.pk%}" class="stretched-link">View analysis</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>We're still accumulating views</p>
            {% endif %}
        </div>

        <div class="row mb-2">
            <h3 class="pb-4 mb-4 fst-italic border-bottom" style="text-align: center; color: #9F823E;">
                Most Viewed Articles
            </h3>
            {% if most_viewed_articles %}
                {% for ac in most_viewed_articles %}
                    <div class="col-md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-danger">{{ac.category}}</strong>
                                <h3 class="mb-0" style="color: #9F823E;">{{ac.title}}</h3>
                                <div class="mb-1 text-muted">posted on {{ac.posted_on|date:"d M Y h:i a"}} by {{ac.posted_by}}</div>
                                <p class="card-text mb-auto">{{ac.description|truncatechars:220|safe}}</p>

                                <a href="{% url 'article-details' ac.pk%}" class="stretched-link">View full article</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>We're still accumulating views</p>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-8">

                <h3 class="pb-4 mb-4 fst-italic border-bottom" style="color: #9F823E;">
                    Latest Analysis
                </h3>

                {% if latest_analysis %}
                    <article class="blog-post">
                        <h3 class="blog-post-title" style="color: #9F823E;">{{latest_analysis.title}}</h3>
                        <p class="blog-post-meta">posted on {{latest_analysis.posted_on|date:"d M Y h:i a"}} by {{latest_analysis.posted_by}} | <strong class="d-inline-block mb-2 text-success">{{latest_analysis.trade_bias}} {{latest_analysis.currency_pair_id.symbol}} {{latest_analysis.time_frame}}</strong></p>
                        

                        <p>{{latest_analysis.description|safe}}</p>
                        <hr>

                    </article>
                {% endif %}
                

            </div>

            <div class="col-md-4">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic" style="color: #9F823E;">About Technical Arena</h4>
                    <p class="mb-0">Here you'll find accurate analysis to help you better understand the market movements. Time is money, invest wisely.</p>
                </div>

                

                <div class="p-4" style="height: 700px;">
                    <h4 class="fst-italic" style="color: #9F823E;">Economic Calendar</h4>
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <!--<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/currencies/economic-calendar/" rel="noopener" target="_blank"><span class="blue-text">Economic Calendar</span></a> by TradingView</div>-->
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
                    {
                    "width": "100%",
                    "height": "100%",
                    "colorTheme": "light",
                    "isTransparent": true,
                    "locale": "en",
                    "importanceFilter": "0,1"
                    }
                    </script>
                    </div>
                    <!-- TradingView Widget END -->
                </div>

                <br>
            </div>

        </div><!-- /.row -->
    </main><!-- /.container -->

    {% include "app/backend/technical_arena/base_footer.html" %}
    
{% endblock body %}