{% extends 'app/backend/dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <script>
        const showPostModal = () =>{
            $('#post-analysis-modal').modal('show');
            //var post_analysis_modal = new bootstrap.Modal(document.getElementById('post-analysis-modal'));
            //post_analysis_modal.show();
        }

        const hidePostModal = () =>{
            $('#post-analysis-modal').modal('hide');
            //var post_analysis_modal = new bootstrap.Modal(document.getElementById('post-analysis-modal'));
            //post_analysis_modal.show();
        }

        const postAnalysis = (clicked_id) =>{
            
            var title = document.getElementById("title").value;
            var timeFrame = document.getElementById("time_frame_select").value;
            var description = document.getElementById("description").value;
            var trade_bias = document.getElementById("trade_bias").value;
            var currency_pair_select = document.getElementById("currency_pair_select").value;
            var trading_view_link = document.getElementById("trading_view_link").value;

            hidePostModal();
        }

    </script>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="background-color: grey;">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        <img src="{% static 'app/frontend/images/logo-white.png'%}" alt="alternative" height="30px" width="30px"> {{arena}}
      </a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout_action'%}">Sign out</a>
        </li>
      </ul>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span></span>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  <span data-feather="home"></span>
                  {% if user.is_authenticated%}{{request.user.first_name|title}}'s {% else %} Guest's {% endif %}Dashboard
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" style="color: #9F823E;">Analyst Dashboard </h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="showPostModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                    Post Analysis
                </button>
            </div>

            <!--Analysis Statistics-->

            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Analysis</h5>
                        <h3 class="card-text">0</h3>
                    </div>
                    </div>
                </div>
                
            </div>

            <!--My Analysis-->

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" style="color: #9F823E;">My Analysis</h1>
            </div>
            
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger">SELL USDCHF 1H</strong>
                        <h3 class="mb-0" style="color: #9F823E;">USDCHF Day trade</h3>
                        <div class="mb-1 text-muted">posted on Aug 1, 2021 by iMac</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">BUY GBPJPY 15M</strong>
                        <h3 class="mb-0" style="color: #9F823E;">GBPJPY Scalp Trade</h3>
                        <div class="mb-1 text-muted">posted on Aug 1, 2021 by iMac</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">BUY GBPJPY 15M</strong>
                        <h3 class="mb-0" style="color: #9F823E;">GBPJPY Scalp Trade</h3>
                        <div class="mb-1 text-muted">posted on Aug 1, 2021 by iMac</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        </div>
                    </div>
                </div>
            </div>

            <!--Others Analysis-->

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" style="color: #9F823E;">Others Analysis</h1>
            </div>
            
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger">SELL USDCHF 1H</strong>
                        <h3 class="mb-0" style="color: #9F823E;">USDCHF Day trade</h3>
                        <div class="mb-1 text-muted">posted on Aug 1, 2021 by iMac</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">BUY GBPJPY 15M</strong>
                        <h3 class="mb-0" style="color: #9F823E;">GBPJPY Scalp Trade</h3>
                        <div class="mb-1 text-muted">posted on Aug 1, 2021 by iMac</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">BUY GBPJPY 15M</strong>
                        <h3 class="mb-0" style="color: #9F823E;">GBPJPY Scalp Trade</h3>
                        <div class="mb-1 text-muted">posted on Aug 1, 2021 by iMac</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Vertically centered scrollable modal -->
            <div id="post-analysis-modal" class="modal">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">Hi {{request.user.username}}, what's you analysis today?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="hidePostModal()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="eg: Seeing a rising wedge">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Please provide description for your analysis"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="trade_bias" class="form-label">Trade bias</label>
                            <select class="form-select" aria-label="Default select example" id="trade_bias">
                                <option selected>select your analysis trade-bias?</option>
                                <option value="BUY">BUY</option>
                                <option value="SELL">SELL</option>
                                <option value="NEUTRAL">NEUTRAL</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="time_frame" class="form-label">Time frame</label>
                            <select class="form-select" aria-label="Default select example" id="time_frame_select">
                                <option selected>select timeframe</option>
                                <option value="15m">15m</option>
                                <option value="30m">30m</option>
                                <option value="1H">1H</option>
                                <option value="4H">4H</option>
                                <option value="W">Weeky</option>
                                <option value="D">Daily</option>
                                <option value="M">Monthly</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="currency_pair" class="form-label">Currency pair</label>
                            <select class="form-select" aria-label="Default select example" id="currency_pair_select">
                                {% if currency_pairs|length > 0 %}
                                        <option selected>select currency pair</option>
                                        {% for currency_pair in currency_pairs %}
                                            <option value="{{currency_pair.id}}">{{currency_pair.symbol}}</option>
                                        {% endfor %}
                                {% else %}
                                    <option selected>Currency pairs not loaded from DB</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="basic-url" class="form-label">TradingView analysis link</label>
                            <input type="text" class="form-control" id="trading_view_link" placeholder="Place trading view link here">
                        </div>





                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" onclick="setTimeFrame()">Post</button>
                    </div>
                </div>
            </div>
            </div>

        </main>
      </div>
    </div>
{% endblock body %}

