{% extends 'app/backend/dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <script>
        
    </script>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="background-color: grey;">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        <img src="{% static 'app/frontend/images/logo-white.png'%}" alt="alternative" height="30px" width="30px"> {{arena}}
      </a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout_action'%}">Sign out</a>
        </li>
      </ul>
    </header>

    <div class="container-fluid">
      <div class="row">
        {% include 'app/backend/dashboard/base_sidebar.html'%}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" style="color: #9F823E;">Article Details </h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    
                </div>
                
            </div>

            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" style="color: #9F823E;">{{article.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{article.posted_on|date:"d M Y h:i a"}} by {{article.posted_by}}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{article.category}}</a>
                </header>
                <!-- Preview image figure-->
                <!--<figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..."></figure>
                <!-- Post content-->
                <section class="mb-5">
                    {{article.description|safe}}
                </section>
            </article>


        </main>
      </div>
    </div>
{% endblock body %}

