{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="InvestFX Technical Arean by Scacsy Inc">
    <meta name="author" content="Scacsy Inc">
    <meta name="generator" content="Version 1.0.0">
    <title>{{title}}</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    

    <!-- Bootstrap core CSS -->
  <link href="{% static 'app/backend/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      img {
        max-width: 100%;
        height: auto !important;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'app/backend/css/dashboard/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>
    {% block body %}{% endblock body %}
    
    <script src="{% static 'app/backend/js/jquery.js'%}"></script>
    <script src="{% static 'app/backend/js/bootstrap.js'%}"></script>
    <script src="{% static 'app/backend/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'app/backend/js/investfx.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
  </body>
</html>
