<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span></span>
      </h6>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'customer-dashboard'%}">
            <span data-feather="home"></span>
            {% if user.is_authenticated%}{{request.user.first_name|title}}'s {% else %} Guest's {% endif %}Dashboard
          </a>
        </li>
      </ul>
    </div>
  </nav>