{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="InvestFX Technical Arean by Scacsy Inc">
    <meta name="author" content="Gerald Ephraim | Scacsy Inc">
    <meta name="generator" content="Version 1.0.0">
    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/backend/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    <!-- Custom styles for this template -->
    <link href="{% static 'app/backend/css/sign-in/signin.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
    {% block body %}
    {% endblock body %}
  </body>
</html>
