{% extends 'app/backend/sign-in/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

 <main class="form-signin">
    <form method="post" action="{% url 'registration_action'%}">
      <img class="mb-4" src="{% static 'app/frontend/images/logo.png'%}" alt="" width="100" height="100">
      <h1 class="h3 mb-3 fw-normal" style="color: #9F823E;">Technical Arena</h1>
      <h4 class="h6 mb-3 fw-normal text-muted">Please register to continue</h4>

      <div class="form-floating">
        {% render_field registration_form.first_name class="form-control form-control-user" placeholder=registration_form.first_name.help_text%}
        <label for="floatingInput">First name</label>
      </div>
      <br>
      <div class="form-floating">
        {% render_field registration_form.last_name class="form-control form-control-user" placeholder=registration_form.last_name.help_text%}
        <label for="floatingInput">Last name</label>
      </div>
      <br>
      <div class="form-floating">
        {% render_field registration_form.email class="form-control form-control-user" placeholder=registration_form.email.help_text%}
        <label for="floatingInput">E-Mail</label>
      </div>
      <br>
      <div class="form-floating">
        {% render_field registration_form.phone_number class="form-control form-control-user" placeholder=registration_form.phone_number.help_text%}
        <label for="floatingInput">Phone Number</label>
      </div>
      <br>
      <div class="form-floating">
        {% render_field registration_form.username class="form-control form-control-user" placeholder=registration_form.username.help_text%}
        <label for="floatingInput">Username</label>
      </div>
      <br>
      <div class="form-floating">
        {% render_field registration_form.password class="form-control form-control-user" placeholder=registration_form.password.help_text%}
        <label for="floatingPassword">Password</label>
      </div>
      <br>
      <!--<div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" > Remember me
        </label>
      </div>-->
      <button class="w-100 btn btn-lg btn-primary" type="submit" style="background-color: #9F823E;">Register</button>

      <p class="mt-5 mb-3 text-muted">Go to <a href="{% url  'ta_home'%}">Technical Arena</a></p>
      <p class="mt-5 mb-3 text-muted">InvestFX - Technical Arena &copy; 2017–{% now "Y" %} <br> Developed by <a href="https://scacsy.com">Scacsy Inc</a></p>
    </form>
</main>

{% endblock body %}